Starter code for exploring the Enron dataset (emails + finances);
loads up the dataset (pickled dict of dicts).

The dataset has the form:
enron_data["LASTNAME FIRSTNAME MIDDLEINITIAL"] = { features_dict }

{features_dict} is a dictionary of features associated with that person.
You should explore features_dict as part of the mini-project,
but here's an example to get you started:

enron_data["SKILLING JEFFREY K"]["bonus"] = 5600000

In [18]:
import pickle

enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "rb"))

In [24]:
len(enron_data)

146

In [19]:
persons = enron_data.keys()
persons

['METTS MARK',
 'BAXTER JOHN C',
 'ELLIOTT STEVEN',
 'CORDES WILLIAM R',
 'HANNON KEVIN P',
 'MORDAUNT KRISTINA M',
 'MEYER ROCKFORD G',
 'MCMAHON JEFFREY',
 'HORTON STANLEY C',
 'PIPER GREGORY F',
 'HUMPHREY GENE E',
 'UMANOFF ADAM S',
 'BLACHMAN JEREMY M',
 'SUNDE MARTIN',
 'GIBBS DANA R',
 'LOWRY CHARLES P',
 'COLWELL WESLEY',
 'MULLER MARK S',
 'JACKSON CHARLENE R',
 'WESTFAHL RICHARD K',
 'WALTERS GARETH W',
 'WALLS JR ROBERT H',
 'KITCHEN LOUISE',
 'CHAN RONNIE',
 'BELFER ROBERT',
 'SHANKMAN JEFFREY A',
 'WODRASKA JOHN',
 'BERGSIEKER RICHARD P',
 'URQUHART JOHN A',
 'BIBI PHILIPPE A',
 'RIEKER PAULA H',
 'WHALEY DAVID A',
 'BECK SALLY W',
 'HAUG DAVID L',
 'ECHOLS JOHN B',
 'MENDELSOHN JOHN',
 'HICKERSON GARY J',
 'CLINE KENNETH W',
 'LEWIS RICHARD',
 'HAYES ROBERT E',
 'MCCARTY DANNY J',
 'KOPPER MICHAEL J',
 'LEFF DANIEL P',
 'LAVORATO JOHN J',
 'BERBERIAN DAVID',
 'DETMERING TIMOTHY J',
 'WAKEHAM JOHN',
 'POWERS WILLIAM',
 'GOLD JOSEPH',
 'BANNANTINE JAMES M',
 'DUNCAN JOHN H',
 'SHAPIRO RICHARD S',
 'SHERRIFF JOHN R',
 'SHELBY REX',
 'LEMAISTRE CHARLES',
 'DEFFNER JOSEPH M',
 'KISHKILL JOSEPH G',
 'WHALLEY LAWRENCE G',
 'MCCONNELL MICHAEL S',
 'PIRO JIM',
 'DELAINEY DAVID W',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'WROBEL BRUCE',
 'LINDHOLM TOD A',
 'MEYER JEROME J',
 'LAY KENNETH L',
 'BUTTS ROBERT H',
 'OLSON CINDY K',
 'MCDONALD REBECCA',
 'CUMBERLAND MICHAEL S',
 'GAHN ROBERT S',
 'MCCLELLAN GEORGE',
 'HERMANN ROBERT J',
 'SCRIMSHAW MATTHEW',
 'GATHMANN WILLIAM D',
 'HAEDICKE MARK E',
 'BOWEN JR RAYMOND M',
 'GILLIS JOHN',
 'FITZGERALD JAY L',
 'MORAN MICHAEL P',
 'REDMOND BRIAN L',
 'BAZELIDES PHILIP J',
 'BELDEN TIMOTHY N',
 'DURAN WILLIAM D',
 'THORN TERENCE H',
 'FASTOW ANDREW S',
 'FOY JOE',
 'CALGER CHRISTOPHER F',
 'RICE KENNETH D',
 'KAMINSKI WINCENTY J',
 'LOCKHART EUGENE E',
 'COX DAVID',
 'OVERDYKE JR JERE C',
 'PEREIRA PAULO V. FERRAZ',
 'STABLER FRANK',
 'SKILLING JEFFREY K',
 'BLAKE JR. NORMAN P',
 'SHERRICK JEFFREY B',
 'PRENTICE JAMES',
 'GRAY RODNEY',
 'PICKERING MARK R',
 'THE TRAVEL AGENCY IN THE PARK',
 'NOLES JAMES L',
 'KEAN STEVEN J',
 'TOTAL',
 'FOWLER PEGGY',
 'WASAFF GEORGE',
 'WHITE JR THOMAS E',
 'CHRISTODOULOU DIOMEDES',
 'ALLEN PHILLIP K',
 'SHARP VICTORIA T',
 'JAEDICKE ROBERT',
 'WINOKUR JR. HERBERT S',
 'BROWN MICHAEL',
 'BADUM JAMES P',
 'HUGHES JAMES A',
 'REYNOLDS LAWRENCE',
 'DIMICHELE RICHARD G',
 'BHATNAGAR SANJAY',
 'CARTER REBECCA C',
 'BUCHANAN HAROLD G',
 'YEAP SOON',
 'MURRAY JULIA H',
 'GARLAND C KEVIN',
 'DODSON KEITH',
 'YEAGER F SCOTT',
 'HIRKO JOSEPH',
 'DIETRICH JANET R',
 'DERRICK JR. JAMES V',
 'FREVERT MARK A',
 'PAI LOU L',
 'BAY FRANKLIN R',
 'HAYSLETT RODERICK J',
 'FUGH JOHN L',
 'FALLON JAMES B',
 'KOENIG MARK E',
 'SAVAGE FRANK',
 'IZZO LAWRENCE L',
 'TILNEY ELIZABETH A',
 'MARTIN AMANDA K',
 'BUY RICHARD B',
 'GRAMM WENDY L',
 'CAUSEY RICHARD A',
 'TAYLOR MITCHELL S',
 'DONAHUE JR JEFFREY M',
 'GLISAN JR BEN F']

In [20]:
features = enron_data[persons[0]].keys()
len(features), features

(21,
 ['salary',
  'to_messages',
  'deferral_payments',
  'total_payments',
  'exercised_stock_options',
  'bonus',
  'restricted_stock',
  'shared_receipt_with_poi',
  'restricted_stock_deferred',
  'total_stock_value',
  'expenses',
  'loan_advances',
  'from_messages',
  'other',
  'from_this_person_to_poi',
  'poi',
  'director_fees',
  'deferred_income',
  'long_term_incentive',
  'email_address',
  'from_poi_to_this_person'])

In [21]:
len(enron_data[persons[len(persons)//2]].keys()), len(enron_data[persons[-1]].keys())

(21, 21)

In [22]:
enron_data[persons[0]]

{'bonus': 600000,
 'deferral_payments': 'NaN',
 'deferred_income': 'NaN',
 'director_fees': 'NaN',
 'email_address': 'mark.metts@enron.com',
 'exercised_stock_options': 'NaN',
 'expenses': 94299,
 'from_messages': 29,
 'from_poi_to_this_person': 38,
 'from_this_person_to_poi': 1,
 'loan_advances': 'NaN',
 'long_term_incentive': 'NaN',
 'other': 1740,
 'poi': False,
 'restricted_stock': 585062,
 'restricted_stock_deferred': 'NaN',
 'salary': 365788,
 'shared_receipt_with_poi': 702,
 'to_messages': 807,
 'total_payments': 1061827,
 'total_stock_value': 585062}

In [23]:
num_feat = ["salary", "bonus", "expenses", "total_payments", "deferral_payments", "deferred_income", "loan_advances", "director_fees", "total_stock_value", "exercised_stock_options", "restricted_stock", "restricted_stock_deferred"]
mail_feat = ["email_address", "to_messages", "from_messages", "shared_receipt_with_poi", "from_this_person_to_poi", "from_poi_to_this_person"]
other_feat = ["poi", "long_term_incentive", "other"]

len(num_feat) + len(mail_feat) + len(other_feat)

21

In [28]:
pois = []

for key, value in enron_data.iteritems():
    if value["poi"] == 1:
        pois.append(key)
        
print(len(pois), pois)

(18, ['HANNON KEVIN P', 'COLWELL WESLEY', 'RIEKER PAULA H', 'KOPPER MICHAEL J', 'SHELBY REX', 'DELAINEY DAVID W', 'LAY KENNETH L', 'BOWEN JR RAYMOND M', 'BELDEN TIMOTHY N', 'FASTOW ANDREW S', 'CALGER CHRISTOPHER F', 'RICE KENNETH D', 'SKILLING JEFFREY K', 'YEAGER F SCOTT', 'HIRKO JOSEPH', 'KOENIG MARK E', 'CAUSEY RICHARD A', 'GLISAN JR BEN F'])

In [29]:
real_pois = ["Lay, Kenneth",
"Skilling, Jeffrey",
"Howard, Kevin",
"Krautz, Michael",
"Yeager, Scott",
"Hirko, Joseph",
"Shelby, Rex",
"Bermingham, David",
"Darby, Giles",
"Mulgrew, Gary",
"Bayley, Daniel",
"Brown, James",
"Furst, Robert",
"Fuhs, William",
"Causey, Richard",
"Calger, Christopher",
"DeSpain, Timothy",
"Hannon, Kevin",
"Koenig, Mark",
"Forney, John",
"Rice, Kenneth",
"Rieker, Paula",
"Fastow, Lea",
"Fastow, Andrew",
"Delainey, David",
"Glisan, Ben",
"Richter, Jeffrey",
"Lawyer, Larry",
"Belden, Timothy",
"Kopper, Michael",
"Duncan, David",
"Bowen, Raymond",
"Colwell, Wesley",
"Boyle, Dan",
"Loehr, Christopher"]

In [34]:
print("Dataset POIs {}, Real POIs {}".format(len(pois), len(real_pois)))

Dataset POIs 18, Real POIs 35

In [51]:
# What is the total value of the stock belonging to James Prentice?
def find_name_in_dict(name):
    p = name.lower()

    find_name = lambda x: p in list(map(lambda y: y.lower(), x.split(" ")))
    try:
        return list(filter(find_name, persons))[0]
    except: 
        return []

In [52]:
find_name_in_dict("prentice")

'PRENTICE JAMES'

In [53]:
enron_data[find_name_in_dict("prentice")]["total_stock_value"]

1095040

In [55]:
# How many email messages do we have from Wesley Colwell to persons of interest?
enron_data[find_name_in_dict("Colwell")]["from_this_person_to_poi"]

11

In [57]:
# What’s the value of stock options exercised by Jeffrey K Skilling? 
enron_data[find_name_in_dict("skilling")]["exercised_stock_options"]

19250000

In [75]:
total_payments = {
    "skilling": enron_data[find_name_in_dict("skilling")]["total_payments"],
    "lay": enron_data[find_name_in_dict("lay")]["total_payments"],
    "fastow": enron_data[find_name_in_dict("fastow")]["total_payments"]
}
sort_orders = sorted(total_payments.items(), key=lambda x: x[1], reverse=True)
sort_orders[0]

('lay', 103559793)

In [85]:
# How many folks in this dataset have a quantified salary? What about a known email address? 
def how_many_nan_per_field(field):
    counter = 0
    
    for p, v in enron_data.iteritems():
        if v[field] == "NaN":
            counter += 1
    print("Counter NaN {}, out of {}".format(counter, len(enron_data)))
    
    return counter

In [86]:
how_many_nan_per_field("salary")

Counter NaN 51, out of 146

51

In [87]:
how_many_nan_per_field("email_address")

Counter NaN 35, out of 146

35

In [88]:
# How many people in the E+F dataset (as it currently exists) have “NaN” for their total payments? 
# What percentage of people in the dataset as a whole is this?

how_many_nan_per_field("total_payments")

Counter NaN 21, out of 146

21

In [93]:
how_many_nan_per_field("total_payments")/float(len(enron_data))

Counter NaN 21, out of 146

0.14383561643835616

In [96]:
def get_pois_dicts():
    data = {}
    
    for p, value in enron_data.iteritems():
        if value["poi"] == 1:
            data[p] = value
    
    return data

In [102]:
poi_data = get_pois_dicts()

In [103]:
# How many POIs in the E+F dataset have “NaN” for their total payments? 
# What percentage of POI’s as a whole is this? 

counter = 0
for poi, value in poi_data.iteritems():
    if value["total_payments"] == "NaN":
        counter += 1
        
print("Counter NaN {}, out of {}".format(counter, len(poi_data)))

Counter NaN 0, out of 18